boards/zc706_fmcs2/ip_repo/
boards/zc706_fmcs2/NA/
boards/zc706_fmcs2/openwifi_rev.coe
boards/zc706_fmcs2/openwifi_zc706_fmcs2/
boards/zc706_fmcs2/src/common/
boards/zc706_fmcs2/src/hdl/
boards/zc706_fmcs2/src/hw_handoff/
boards/zc706_fmcs2/src/ip/
boards/zc706_fmcs2/src/ipshared/
boards/zc706_fmcs2/src/sim/
boards/zc706_fmcs2/src/synth/
boards/zc706_fmcs2/src/system.bxml
boards/zc706_fmcs2/src/system_ooc.xdc
boards/zc706_fmcs2/src/ui/
vivado.jou
vivado.log
ip/openofdm_tx/openofdm_tx/
ip/openofdm_rx/

tmp_edit_project.cache/
tmp_edit_project.hw/
tmp_edit_project.xpr
xgui/
*.backup.jou
*.backup.log

ip/**/board_def.v
ip/**/clock_speed.v
ip/**/openwifi_hw_git_rev.v
ip/**/spi_command.v
ip/**/fpga_scale.v
ip/**/has_side_ch_flag.v

ansREADME.pdf
ip/openofdm_tx/ans_openofdm.tcl
